*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header CSS Code */
header{
    height: 64px;
    padding: 0px 25px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-left{
    width: 145px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Nav Menu Button CSS */
.navmenu{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.navmenu:hover{
    background-color: rgb(240, 240, 240);
}
.navmenu:active{
    background-color: rgb(230, 230, 230);
}

/* Page Title CSS */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img{
    height: 16px;
}

.header-right{
    width: 185px;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Login Button CSS */
.header-button1{
    width: 64px;
    height: 36px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px 2px rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-login{
    font-size: 14px;
    text-decoration: none;
    outline-color: transparent;
    color: rgb(0, 0, 0);
}

.header-button1:hover{
    background-color: rgb(245, 245, 245);
}

.header-button1:active{
    background-color: rgb(235, 235, 235);
}

/* Signup Button CSS */
.header-button2{
    width: 72px;
    height: 36px;
    border-radius: 24px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-signup{
    font-size: 14px;
    text-decoration: none;
    outline-color: transparent;
    color: rgb(255, 255, 255);
}

.header-button2:hover{
    background-color: rgb(45, 45, 45);
}

.header-button2:active{
    background-color: rgb(90, 90, 90);
}

/* Nav CSS Code */
nav{
    display: none;
}

/* Main CSS Code */
main{
    width: 100%;
    height: 95vh;
    background-image: url(https://www.ubereats.com/_static/c413f20400e04805.webp);
    background-size: cover;
    display: flex;
    align-items: center;
}

.container{
    width: 900px;
    height: 300px;
    margin-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    font-size: 50px;
    padding-top: 50px;
    margin-left: 15px;
}

form{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.address{
    width: 520px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 input{
    width: 520px;
    height: 55px;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
 }

 .time{
    width: 150px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 select{
    width: 200px;
    height: 55px;
    border: none;
    padding: 0px 10px;
    font-size: 16px;
 }

 .main-button{
    width: 110px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }

 .main-button:hover{
    background-color: rgb(45, 45, 45);
}

.main-button:active{
    background-color: rgb(90, 90, 90);
}

 .main-link{
    font-size: 14px;
    margin-left: 20px;
 }

 .main-signin{
    color: rgb(65, 65, 65);
    font-size: 14px;
    text-decoration: underline;
 }

 /* Section CSS Code */
 section{
    padding: 0px 3vw;
 }

.break{
    width: 100%;
    height: 8vh;
}

/* Section Images */
.section-images{
    display: flex;
    justify-content: space-between;
}

.imgs{
    max-width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.image-title{
    width: 775px;
    padding: 0px 10px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    outline-color: transparent;
}

.image-link{
    font-size: 16px;
    text-decoration: underline;
    padding-top: 10px;
}

/* Section Cities and Countries */
.cities-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 30px;
}

.countries-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 30px;
}

h2{
    font-size: 36px;
}

.view-all{
    font-size: 16px;
    color: black;
    outline-color: transparent;
    text-decoration: underline;
}

iframe{
    width: 100%;
    height: 40vh;
}

table{
    width: 100%;
    height: 32vh;
    padding-top: 10px;
}

.cities-table{
    padding-bottom: 0px;
}

tr{
    width: 100%;
}

td{
    width: 400px;
    height: 50px;
}

a{
    font-size: 16px;
    text-decoration: none;
    outline-color: transparent;
    color: black;
}

/* Footer CSS Code */
footer{
    margin: 6vh 0px 0px;
    padding: 6vh 2vw 8vh;
    display: grid;
    border-top: 1px solid rgb(235, 235, 235);
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-rows: 28vh 4vh 7vh;
}

.footer-logos{
    grid-area: 1/1/1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-socialmedia{
    grid-area: 3/1/3/4;
    border-top: 1px solid rgb(235, 235, 235);
}

.footer-list1{
    grid-area: 1/2/2/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list2{
    grid-area: 1/3/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    list-style-type: none;
}

li:hover{
    text-decoration: underline;
}

.footer-img{
    height: 24px;
}

.appstores-img{
    height: 40px;
    padding-right: 10px;
}

.fb-tw-in{
    font-size: 18px;
    padding-right: 20px;
    padding-top: 30px;
}